/*Contacto*/

section.formcontato{
    margin: 4% 4% 4% 4%;
}
 .formcontato__contacto {
    display: flex;
    justify-content: space-around;
    padding: 4vw 0 3vw 0;
 }
 
 .formcontato__img {
    border-radius: 5px;
 }

 .formcontato__text {
    margin-left: 2vw;
    color: #464646
}

.formcontato__subtext {
    font-size: 15px;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

.formcontato__input, .formcontato__textarea {
    margin: 0% 0 4% 0;
}

.formcontato__botao {
    width: 18vw;
    height: 5vh;
    border: none;
    border-radius: 5%;
    background: #2A7AE4;
    color: #FFFFFF;
}

@media (max-width: 425px) {

.formcontato--esquerda {
    display: none;
}
    
}