/* Experiencia Académica*/

section.academic{
    background: #EAF2FD;
}

.academic__title {
    text-align: center;
    padding: 8vw 0 4vw 0;
}

.academic__courses {
    display: flex;
    justify-content: space-around;
}

.academic__courses__list {
    padding-left: 0;
}

.academic__courses__item__img {
    width: 32vw;
    height: 28vw;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academic__courses__item__img__logo {
    height: 50%;
}

.academic__courses__list li {
    color: #464646;
}

/*Mobile*/

@media (max-width: 425px) {

.academic__title {
    padding-top: 6vh;
}

.academic__courses {
    flex-wrap: wrap;
}

.academic__courses__item__img {
    width: 82vw;
    height: 33vw;
}
         
}