/*Hobbies*/

.hobbies {
    background: #F5F5F5;
}

.hobbies__title{
    text-align: center;
    margin: 5% 0 4% 0;
}

.hobbies__line {
    display: flex;
    margin: 0% 4vw 0% 4vw;
    justify-content: space-between;
}

.hobbies__box {
    display: flex;
    flex-direction: column-reverse;
    background: #ffffff;
    width: 14vw;
    height: 14vw;
}

.hobbies__box--posicion {
    margin: 0 0 9% 8%;
    padding: 0;
}

/*Mobile*/

@media (max-width: 425px) {

.hobbies__title {
    margin-top: 4vh;
}

.hobbies__line {
    flex-wrap: wrap;
}

.hobbies__box {
    width: 44vw;
    height: 34vw;
    margin-top: 2vh;    
}

.hobbies__name {
    margin-top: 1vh;
    font-weight: bold;
    color: #464646;
}
     
}