/*Menu*/

.menu{
    width: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3% 4vw 3% 4vw;
}

.menu__header {
    align-items: center;
    display: flex;
    width: 30vw;
}

.menu__submenu {
    align-items: center;
    display: flex;
}

.menu__list {
    display: flex;
}

.menu__title {
    margin-left: 1vw;
}

.menu__list__item {
    margin-left: 1vw;
}

.menu__list__item__contato {
    font-weight: bolder;
    margin-left: 1vw;
}

/*Mobile*/

@media (max-width: 425px) {

.menu__list {
    display: none;
}

.menu__list__item__contato {
    font-weight: normal;
    font-size: 3.7vw;
}

}