.skills {
    background: #F5F5F5;
}

.skills__title{
    text-align: center;
    margin: 5% 0 4% 0;
}

.skills__line {
    display: flex;
    margin: 0% 4vw 0% 4vw;
    justify-content: space-between;
}

.skills__box {
    display: flex;
    flex-direction: column-reverse;
    background: #ffffff;
    width: 14vw;
    height: 14vw;
}

.skills__box--posicion {
    margin: 0 0 9% 8%;
    padding: 0;
}